{% extends "base.html" %}
{% load dbfv_extras %}
{% load i18n %}

{% block title %}Emailverteiler{% endblock %}

{% block content %}

    <p>Bitte wählen Sie die Empfänger</p>

    <table class="table">
        <tr>
            <td>
                <a href="{% url 'core:email:add' 'starter' %}" class="btn btn-default btn-block">Starterlizenzen</a>
            </td>
            <td>
                es werden alle Teilnehmer angeschrieben, die im aktuellen Jahr
                eine Starterlizenz beantragt haben und auch bewilligt bekommen haben.
                Falls ein teilnehmer mehr als einmal im System erscheint, so wird
                er nur einmal angeschrieben.
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'core:email:add' 'studio' %}" class="btn btn-default btn-block">Studio</a>
            </td>
            <td>
                es werden alle aktuell aktive Studios angeschrieben
            </td>
        </tr>
    </table>
{% endblock %}

{% block sidebar %}
{% endblock %}