{% extends "base.html" %}
{% load url from future %}

{% block title %}Bundesländer{% endblock %}

{% block content %}
<h2>Bundesländer</h2>

{% if state_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Name</th>
        <th>Kürzel</th>
    </tr>
    </thead>
    <tbody>
    {% for state in state_list %}
    <tr>
        <td>
            {{state.id}}
        </td>
        <td>
            <a href="{% url 'state-edit' state.id %}">{{state.name}}</a>
        </td>
        <td>
            {{state.short_name}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Bundesländer vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h5>Aktionen</h5>
    <p><a href="{% url 'state-add' %}">Bundesland hinzufügen</a></p>
</div>
{% endblock %}
