{% extends "base.html" %}
{% load url from future %}

{% block title %}Bundesländer{% endblock %}

{% block content %}
{% if state_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Name</th>
        <th>Kürzel</th>
        <th>Email</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for state in state_list %}
    <tr>
        <td>
            {{state.id}}
        </td>
        <td>
            {{state.name}}
        </td>
        <td>
            {{state.short_name}}
        </td>
        <td>
            {% if state.email %}
                <a href="mailto:{{state.email}}">{{state.email}}</a>
            {% else %}
                -/-
            {% endif %}
        </td>
        <td>
            <a href="{% url 'state-edit' state.id %}"
               class="icon-pencil"
               title="Bearbeiten"></a>
            <a href="{% url 'state-delete' state.id %}"
               class="icon-trash"
               title="Löschen"></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Bundesländer vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h5>Aktionen</h5>
    <p><a href="{% url 'state-add' %}">Bundesland hinzufügen</a></p>
</div>
{% endblock %}
