{% extends "base.html" %}
{% load url from future %}

{% block title %}Einträge für {{ category }}-Klasse{% endblock %}

{% block content %}
<h3>Endplatzierung</h3>
<table class="table">
    <tr>
        <th>Teilnehmendennummer</th>
        <th>Platzierung</th>
        <th>Name</th>
    </tr>
    {% for placement in placements %}
        <tr>
            <td>{{ placement.participation.participation_nr }}</td>
            <td>{{ placement.placement }}</td>
            <td>{{ placement.placement.submission.user }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block sidebar %}
{% endblock %}
