{% extends "base.html" %}
{% load dbfv_extras %}

{% block title %}Meisterschaft "{{ object.name }}"{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#submission_id_register').click(function (e) {
        e.preventDefault();
        window.location = '/meisterschaft/teilnahme/antrag-' + $('#submission_id').val() + '/anmelden';
    });

    $('#submission_id_view').click(function(e) {
        e.preventDefault();
        window.location = '/antrag/' + $('#submission_id').val() + '/anzeigen';
    });
});
</script>

{% endblock %}

{% block content %}

<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <th>Datum</th>
        <td>{{ object.date }}</td>
    </tr>
    <tr>
        <th>Bundesland</th>
        <td>{{ object.state }}</td>
    </tr>
    <tr>
        <th>Kategorien</th>
        <td>

            <p>
            {% for category in object.categories.all %}
                {{ category }}
                <br>
            {% empty %}
                <em>Keine Kategorien vorhanden</em>
            {% endfor %}
            </p>
        </td>
    </tr>
</table>


<h3>Kampfrichter</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Aktionen</th>
    </tr>
    {% for judge in object.judge_set.all %}
    <tr>
        <td>{{ judge }}</td>
        <td>
            <a href="{% url 'championship:judge:edit' judge.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="{% url 'championship:judge:delete' judge.pk %}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Kategorien</h3>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for categorie in object.categories.all %}
    <tr>
        <td>{{ categorie }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Teilnehmer</h3>
<table class="table">
    <tr>
        <th>Teilnehmernr.</th>
        <th>Teilnehmer</th>
        <th>Kategorie</th>
        <th>Gesamtplatzierung</th>
        <th>Studio</th>
        <th>Aktionen</th>
    </tr>
{% for participation in object.participation_set.all %}
    {% for placement in participation.placement_set.all %}
    <tr>
        <td>{{ participation.participation_nr }}</td>
        <td><a href="{% url 'submission-view' participation.submission.pk %}">{{ participation.submission.get_name }}</a></td>
        <td>{{ placement.category }}</td>
        <td>
            <a href="{% url 'championship:placement:edit' placement.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {{ placement.placement }}
        </td>
        <td><a href="{% url 'gym-view' participation.submission.gym.pk %}">{{ participation.submission.gym.name }}</a></td>
        <td>
            <a href="{% url 'championship:participation:view' participation.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="{% url 'championship:participation:delete' participation.pk %}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h4>Optionen</h4>
    <p>
        <a href="{% url 'championship:championship:edit' object.id %}">Bearbeiten</a>
    </p>

    <p>
        <a href="{% url 'championship:championship:export-csv' object.id %}">Teilnehmer exportieren</a>
    </p>

    <p>
        <a href="{% url 'championship:championship:delete' object.id %}">Löschen</a>
    </p>

    <p>
        <a href="{% url 'championship:judge:add' object.id %}">Kampfrichter hinzufügen</a>
    </p>
</div>

<div class="well">
<form action="" class="form-horizontal">
    <h4>Schnellanmelden</h4>
    <p>
    <input type="number" id="submission_id" placeholder="Antragsnummer eingeben" class="form-control">
    </p>

    <input id="submission_id_view" class="btn btn-default btn-block" type="submit" value="Starterlizenz anzeigen">
    <input id="submission_id_register" class="btn btn-default btn-block" type="submit" value="Starterlizenz anmelden">
</form>
</div>

{% endblock %}

