{% extends "base.html" %}
{% load url from future %}

{% block title %}Anträge{% endblock %}

{% block content %}
{% if submission_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Datum</th>
        <th>Bundesland</th>
        <th>Benutzer</th>
        <th>Typ</th>
        <th>Status LV</th>
        <th>Status BV</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in submission_list %}
    <tr>
        <td>
            {{submission.id}}
        </td>
        <td>
            <a href="{% url 'submission-edit' submission.id %}">{{submission.creation_date}}</a>
        </td>
        <td>
            {{submission.gym.state.short_name}}
        </td>
        </td>
        <td>
            {{submission.user}}
        </td>
        </td>
        <td>
            {{submission.get_submission_type_display}}
        </td>
        </td>
        <td {% if submission.submission_status_lv == SUBMISSION_STATUS_BEWILLIGT %}style="color:green;"
            {% elif submission.submission_status_lv == SUBMISSION_STATUS_ABGELEHNT %}style="color:red;"{% endif %}>
            {{submission.get_submission_status_lv_display}}
        </td>
        <td {% if submission.submission_status_bv == SUBMISSION_STATUS_BEWILLIGT %}style="color:green;"
            {% elif submission.submission_status_bv == SUBMISSION_STATUS_ABGELEHNT %}style="color:red;"{% endif %}>
            {{submission.get_submission_status_bv_display}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Anträge vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}
