{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load dbfv_extras %}

{% block title %}Anträge{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<h3>Laufende Anträge</h3>
{% render_submission_list submission_list user 'open' 'open-submissions' %}

{% if show_closed %}
<h3>Geschlossene Anträge</h3>
{% render_submission_list submission_list user 'closed' 'closed-submissions' %}
{% endif %}


{% endblock %}

{% block sidebar %}
{% if perms.submission.change_submissionstarter %}
<h3>Info</h3>
<p>Clicken Sie auf einen Monat, um die entsprechenden Anträge zu sehen</p>

{% for date in month_list %}
    {% ifchanged date.year %}
        <p><strong>{{ date|date:"Y" }}</strong></p>
    {% endifchanged %}
    <span><a href="{% url 'submission-list-month' date|date:'Y' date|date:'m' %}">{{date|date:"F"}}</a></span><br>
{% endfor %}
{% endif %}

{% endblock %}
