{% load i18n %}
{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     This file is part of the DBFV site.

     the DBFV site is free software: you can redistribute it and/or modify
     it under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     the DBFV site is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with the DBFV site.  If not, see <http://www.gnu.org/licenses/>.
    -->
    
    <meta charset="utf-8">
    <title>DBFV Antragsystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Roland Geider">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-custom.css' %}" rel="stylesheet">
    
    <script src="{% static 'js/jquery-1.9.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  
    {% block header %}{% endblock %}
</head>

<body>
    <div class="row-fluid">
        <div class="span2" id="logo">
            <a href="http://www.dbfv.de"
                target="_blank">
                <img src="{% static 'img/DBFV-logo.png' %}"
                     width="142"
                     height="143"
                     alt="Logo des DBFV"></a>
                &nbsp;&nbsp;&nbsp;
        </div>
        {% if settings.DEBUG == True %}
        <div class="span10">
            <div class="alert alert-warning alert-testsystem">
                <strong>Testsystem!</strong><br>
                Keine gültigen Anträge stellbar!
            </div>
            <h1>Antragssystem des DBFV</h1>
        </div>
        {% endif %}
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% url 'index' %}">DBFV</a>
                
                <div class="nav-collapse collapse">
                <ul class="nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'submission-list' %}">Anträge</a></li>
                {% endif %}
              
                {% if user_type == USER_TYPE_BUNDESVERBAND %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'gym-list' %}">Studios</a></li>
                        <li><a href="{% url 'state-list' %}">Bundesländer</a></li>
                        <li><a href="{% url 'bank-account-list' %}">Bankkonten</a></li>
                    </ul>
                    </li>
                {% endif %}
                
                </ul>
                <ul class="nav pull-right">
                    
                    {% if not user.is_anonymous %}
                    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Benutzer: {{user.username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'logout' %}">Abmelden</a></li>
                          <li><a href="{% url 'django.contrib.auth.views.password_change' %}">Passwort ändern</a></li>
                        </ul>
                    </li>
                    {% else %}
                    
                    <li class="dropdown"><a href="{% url 'login' %}" class="dropdown-toggle" data-toggle="dropdown">Registrieren/Anmelden <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'login' %}">Anmelden</a>
                            <li><a href="{% url 'registration' %}">Registrieren</a></li>
                            <li><a href="{% url 'django.contrib.auth.views.password_reset' %}">Passwort zurücksetzen</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    
                </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>{% block title %}{% endblock %}</h2>
        <div class="row">
            <div class="span9">
                {% block content %}{% endblock %}
            </div>
            <div class="span3">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>

<!--
    <footer class="footer navbar navbar-fixed-bottom">
-->
    <footer class="footer navbar ">
          <div class="navbar-inner">
              <ul class="nav">
                  <li>
                      <a href="{% url 'index' %}">Antragssystem DBFV</a>
                  </li>
<!--
                  <li>
                      <a href="https://bitbucket.org/rolandgeider/dbfv">AGPL3</a>
                  </li>
-->
              </ul>
              <ul class="nav pull-right">
                  <li><a href="{% url 'impressum' %}">Impressum</a></li>
                  <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
              </ul>
          </div>
      </footer>
    </body>
</html>
