{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load dbfv_extras %}

<!--
        Title
-->
{% block title %}{{title}}{% endblock %}


<!--
        Main Content
-->
{% block content %}
<div class="alert alert-error">
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">
    {% csrf_token %}
    <div class="control-group">
        <div class="controls">
            <img src="{% static  'img/icons/warning.svg' %}"
                 width="48"
                 height="48"
                 class="pull-left"
                 alt="{% trans 'Sind Sie sicher, dass Sie dieses Objelt löschen wollen?' %}">
            <p>{% trans "Sind Sie sicher, dass Sie dieses Objekt löschen wollen? Diese Aktion kann nicht rückgängig gemacht werden." %}</p>
            <p>{{ delete_message }}</p>
        </div>
    </div>
    {% render_form_submit 'Ja, löschen' 'btn-danger btn-block' %}
</form>
</div>
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{{sidebar|safe}}{% endblock %}
