{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %} 
{% load dbfv_extras %}

<!--
        Title
-->
{% block title %}{{title}}{% endblock %}


<!--
        Main Content
-->
{% block content %}
<div class="alert alert-error">
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">
    {% csrf_token %}
    <img src="{% static  'img/icons/warning.svg' %}"
         width="48"
         height="48"
         class="pull-left"
         alt="{% trans 'Are you sure you want to delete this? This action cannot be undone.' %}">
    <p>{% trans "Are you sure you want to delete this? This action cannot be undone." %}</p>
    <p>{{ delete_message }}</p>
    {% table_form_submit 'Ja, löschen' %}
</form>
</div>
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{{sidebar|safe}}{% endblock %}
