{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Willkommen!</h1>
    <p>Infos, Teilnahmebedingungen, usw..
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum.</p>
    <p>
        <a class="btn btn-primary btn-large">Link 1 &raquo;</a>
        <a class="btn btn-primary btn-large">Link 2 &raquo;</a>
    </p>
</div>

<!-- Example row of columns -->

<h2>Antrag stellen</h2>

<div class="row-fluid">
    <div class="span6">
        <h3>Starterlizenz</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
        porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-success" href="{% url 'submission-add' 'Starterlizenz' %}">Antrag stellen &raquo;</a></p>
    </div>
    <div class="span6">
        <h3>Kampfrichterlizenz</h3>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-success" href="{% url 'submission-add' 'Kapmfrichter' %}">Antrag stellen &raquo;</a></p>
    </div>
</div>
{% endblock %}


{% block sidebar %}
{% if user.is_authenticated %}
<div class="sidebar-box">
    <h2>Optionen</h2>
    {% if user_type == USER_TYPE_BUNDESVERBAND %}
        <p><a class="btn" href="{% url 'gym-list' %}">Liste der Studios &raquo;</a></p>
        <p><a class="btn" href="{% url 'state-list' %}">Liste der Bundesländer &raquo;</a></p>
        <p><a class="btn" href="{% url 'bank-account-list' %}">Liste der Konten &raquo;</a></p>
    {% elif user_type == USER_TYPE_LANDESVERBAND %}
    {% elif user_type == USER_TYPE_USER %}
    {% endif %}

    <p><a class="btn" href="{% url 'submission-list' %}">Liste der Anträge &raquo;</a></p>
</div>
{% endif %}
{% endblock %}
