{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Willkommen!</h1>
    <p>Sie befinden sich auf der DBFV e.V. Internetseite zur Beantragung
    jeglicher Lizenzen. Bitte wählen Sie die Lizenzart aus und folgen Sie
    dem Menü.
    
    </p>
</div>

<!-- Example row of columns -->

<h2>Starterlizenz</h2>
<p>Beantragen Sie hier die Ausstellung 
einer DBFV/IFBB-Starterlizenz.
Diese berechtigt zur Teilnahme an allen DBFV e.V / IFBB Meisterschaften.</p>
{% if perms.submission.add_submissionstarter %}
<p><a class="btn btn-success" href="{% url 'submission-add' 'starter' %}">Antrag auf Starterlizenz stellen &raquo;</a></p>
{% else %}
<p><a href="{% url 'login' %}" class="btn btn-danger">Sie müssen sich anmelden</a></p>
{% endif %}

<h2 style="margin-top:1.5em;">Andere Anträge</h2>
<div class="row">
    <div class="col-md-6">
        <h4>Kampfrichterlizenz</h4>
        <p>Nach bestandener Kampfrichterprüfung und bestandenen Probewertungen
        kann die Kampfrichterlizenz beantragt werden. Ohne Widerspruch des Bundeskampfrichterreferenten
        wird Ihnen die Kampfrichterlizenz zugeschickt.</p>
        {% if perms.submission.add_submissiongym %}
        <p><a class="btn btn-success" href="{% url 'submission-judge-add' %}">Antrag auf Kampfrichterlizenz stellen &raquo;</a></p>
        {% else %}
        <p><a href="{% url 'login' %}" class="btn btn-danger">Sie müssen sich anmelden</a></p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Internationale Meisterschaften</h4>
        <p>
            Berechtigt sind Finalistinnen und Finalisten der Deutschen Meisterschaft
            und der Internationalen Deutschen Meisterschaft sowie die Gesamtsiegerinnen
            und Gesamtsieger der Internationalen Süddeutschen Meisterschaft. Eine
            gültige Starterlizenz ist zwingend.
        </p>
        {% if perms.submission.add_submissioninternational %}
        <p><a class="btn btn-success" href="{% url 'submission-international-add' %}">Antrag auf int. Meisterschaft stellen &raquo;</a></p>
        {% else %}
        <p><a href="{% url 'login' %}" class="btn btn-danger">Sie müssen sich anmelden</a></p>
        {% endif %}
    </div>

</div>

{% endblock %}


{% block sidebar %}
{% if user.is_authenticated %}
<div class="sidebar-box">
    <h2>Optionen</h2>
    {% if perms.submission.add_manageremail %}
        <p><a class="btn btn-default btn-block" href="{% url 'state-list' %}">Bundesländer</a></p>
        <p><a class="btn btn-default btn-block" href="{% url 'gym-list' %}">Studios</a></p>
        <p><a class="btn btn-default btn-block" href="{% url 'bank-account-list' %}">Bankonten</a></p>
        <p><a class="btn btn-default btn-block" href="{% url 'email-list' %}">Manager Emails</a></p>

        <h4>Anträge</h4>
        <p><a class="btn btn-default btn-block" href="{% url 'submission-list' %}">Starterlizenzen</a></p>
        <p><a class="btn btn-default btn-block" href="{% url 'submission-judge-list' %}">Kampfrichterizenzen</a></p>
        <p><a class="btn btn-default btn-block" href="{% url 'submission-studio-list' %}">Studiolizenzen</a></p>
        
    {% elif perms.submission.add_submissionstarter %}
        <p><a class="btn btn-default btn-block" href="{% url 'submission-list' %}">Starterlizenzen</a></p>
        <p><a class="btn btn-default btn-block" href="{% url 'submission-judge-list' %}">Kampfrichterizenzen</a></p>
    {% endif %}

</div>
{% endif %}
{% endblock %}
