{% extends "base.html" %}
{% load url from future %}

{% block title %}Kategorien{% endblock %}

{% block content %}
{% if categories_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Name</th>
        <th style="width: 15%;">Aktonen</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories_list %}
    <tr>
        <td>
            {{category.name}}
        </td>

        <td>
            <a href="{% url 'championship:category:edit' category.pk %}" title="Bearbeiten"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'championship:category:delete' category.pk %}" title="Löschen"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Kategorien vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h5>Aktionen</h5>
    <p><a href="{% url 'championship:category:add' %}">Kategorie hinzufügen</a></p>
</div>
{% endblock %}
