{% extends "base.html" %}
{% load url from future %}

{% block title %}Liste der Bankkonten{% endblock %}

{% block content %}
{% if account_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Name</th>
        <th>IBAN</th>
        <th>BIC</th>
    </tr>
    </thead>
    <tbody>
    {% for account in account_list %}
    <tr>
        <td>
            <a href="{%url 'bank-account-edit' account.id %}">{{account.owner_name}}</a>
        </td>
        <td>
            {{account.iban}}
        </td>
        <td>
            {{account.bic}} ({{account.bank_name}})</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Daten vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h4>Aktionen</h4>
    <p><a href="{% url 'bank-account-add' %}">Konto hinzufügen</a></p>
</div>
{% endblock %}
