{% extends "base.html" %}
{% load url from future %}

{% block title %}Überweisungsdaten{% endblock %}

{% block content %}

<p>Bitte überweisen Sie den Teilnahmebeitrag innerhalb von ABC Tagen
an das folgende Konto:</p>

<table class="table table-striped" data-toggle="list">
    <tr>
        <th>Betrag</th>
        <td>50EUR</td>
    </tr>
    <tr>
        <th>Begünstigter</th>
        <td>{{bankaccount.owner_name}}</td>
    </tr>
    <tr>
        <th>Kontonummer</th>
        <td>{{bankaccount.account_nr}}</td>
    </tr>
    <tr>
        <th>BLZ</th>
        <td>{{bankaccount.bank_nr}} ({{bankaccount.bank_name}})</td>
    </tr>
</table>
{% endblock %}

{% block sidebar %}
{% endblock %}
