{% extends "base.html" %}

{% block title %}Überweisungsdaten{% endblock %}

{% block content %}

<p>Sie haben erfolgreich die Lizenz beantrag. Bitte überweisen Sie den
Teilnahmebeitrag innerhalb von 5 Tagen an das folgende Konto. Sie können
diese Daten in der Bestätigungsemail die Sie erhalten haben, nachlesen.</p>

<table class="table table-striped" data-toggle="list">
    <tr>
        <th>Betrag</th>
        <td>{{fee}}EUR</td>
    </tr>
    <tr>
        <th>Verwendungszweck</th>
        <td>{{use|safe}}</td>
    </tr>
    <tr>
        <th>Begünstigter</th>
        <td>{{bankaccount.owner_name}}</td>
    </tr>
    <tr>
        <th>IBAN</th>
        <td>{{bankaccount.iban}}</td>
    </tr>
    <tr>
        <th>BIC</th>
        <td>
            {{bankaccount.bic}} ({{bankaccount.bank_name}})
            <br>
            <p><small>Nur bei Auslandsüberweisung nötig!</small></p>
        </td>
    </tr>
</table>
{% endblock %}

{% block sidebar %}
{% endblock %}
