{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <h2>Starterlizenz – Wettkampfregeln</h2>

    <p>
        Mit der erworbenen Starterlizenz sind Sie zur Teilnahme an allen
        Meisterschaften des DBFV e. V. berechtigt.
    </p>

    <p>
        Es gelten die Wettkampfregeln unseres Verbandes, die für Sie verbindlich
        sind und deren Einhaltung Sie mit Erteilung der Starterlizenz auch
        vollumfänglich akzeptieren.
    </p>

    <p>
        Die Wettkampfregeln finden Sie auf unserer Homepage unter <a href="https://dbfv.de/wettkampfregeln/">Wettkampfregeln</a>
    </p>



    <h2>Anti-Doping</h2>
    <p>Doping erschüttert die Grundlagen der Integrität, die maßgeblich auf Fairness und Chancengleichheit im
        sportlichen Wettbewerb beruhen. Doping greift tief in die ethisch-moralischen Werte des Sports ein, raubt dem
        Sport seine Glaubwürdigkeit und Vorbildfunktion.</p>
    <p>Darüber hinaus gefährdet Doping die Gesundheit des Sportlers. Doping kann mittel- oder langfristig schwerwiegende
        und irreparable Folgen für die Gesundheit haben.</p>
    <p>Der DBFV e.V. als Bodybuilding-Verband distanziert sich klar von der Dopingszene. Verstöße werden
        verbandsrechtlich auf der Grundlage der geltenden Satzungsbestimmungen sanktioniert.</p>
    <p>Darüber hinaus drohen strafrechtliche Konsequenzen. Bereits der Erwerb, wie auch der Besitz nicht geringer Mengen
        von Dopingmitteln zum Zwecke des Dopings beim Menschen im Sport ist strafbar. Es drohen hier Freiheitsstrafen
        von bis zu 3 Jahren. Auch Selbstdoping ist für Spitzensportler wie auch für Athleten, die aus der sportlichen
        Betätigung unmittelbar oder mittelbar Einnahmen von erheblichem Umfang erzielen, strafbar. Es drohen hier
        ebenfalls Freiheitsstrafen von bis zu 3 Jahren.</p>

    <p>
        <a href="https://www.gesetze-im-internet.de/antidopg/">
            https://www.gesetze-im-internet.de/antidopg/
        </a>
    </p>



{% endblock %}

{% block sidebar %}
{% endblock %}
