{% extends "base.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
<p>Für den Inhalt verantwortlich:</p>

<pre>DBFV e.V.
Deutscher Bodybuilding und Fitness-Verband e.V.

Geschäftsstelle:
Limesstr. 34A
81673 München

Tel. 089 - 40 77 44
Fax 089 - 49 60 39
E-Mail: <a href="mailto:info@dbfv.de">info@dbfv.de</a>

St.Nr. 212 / 80065</pre>

<h3>Quellcode</h3>
<p>Diese Anwendung wurde von <a href="mailto:roland@geider.net">Roland Geider</a>
programmiert und ist Freie Software. Der Quellcode ist unter der Affero GNU General
Public License 3 oder später (AGPL 3+) verfügbar und kann von
<a href="https://github.com/rolandgeider/dbfv">github</a> runtergeladen werden.
{% endblock %}

{% block sidebar %}
{% endblock %}
