{% extends "base.html" %}
{% load url from future %}
{% load dbfv_extras %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<p>Nach bestandener Kampfrichterprüfung und bestandenen Probewertungen
kann die Kampfrichterlizenz beantragt werden. Ohne Widerspruch des Bundeskampfrichterreferenten
wird Ihnen die Kampfrichterlizenz zugeschickt.</p>

<p>Hiermit beantrage ich die Ausstellung der DBFV e.V./IFBB-Germany
Jahres-Kampfrichterlizenz.</p>

<p>Die Lizenzgebühr in Höhe von €20 ist im Voraus
zu überweisen. Für die Genehmigung des Antrags ist der jeweilige Landeskampfrichterreferent
zuständig.</p>
<form action="{{ form_action }}"
      method="post"
      class="form-horizontal"
      enctype="multipart/form-data">
    {% render_form_fields form %}
</form>

{% endblock %}

{% block sidebar %}
{% endblock %}