{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<p>Nach bestandener Kampfrichterprüfung und bestandenen Probewertungen
kann die Kampfrichterlizenz beantragt werden. Ohne Widerspruch des Bundeskampfrichterreferenten
wird Ihnen die Kampfrichterlizenz zugeschickt.</p>

<p>Hiermit beantrage ich die Ausstellung der DBFV e.V./IFBB-Germany
Jahres-Kampfrichterlizenz.</p>

<p>Die Lizenzgebühr in Höhe von €20 ist im Voraus
zu überweisen. Für die Genehmigung des Antrags ist der jeweilige Landeskampfrichterreferent
zuständig.</p>
{% crispy form %}
    
    
<div class="col-md-offset-3 col-md-10">
    <h3>Datenschutzbestimmungen</h3>
    <h4>Hinweise zur Datenverarbeitung</h4>


    <h5>1. Name und Kontaktdaten des für die Verarbeitung Verantwortlichen</h5>
    <p>Diese Datenschutzhinweise gelten für die Datenverarbeitung durch:
    Verantwortlicher: Deutscher Bodybuilding und Fitness-Verband e.V., Präsident Michael König, Annabrunner Straße 17, 81673 München, Deutschland, Email: koenig@dbfv.de
    </p>


    <h5>2. Erhebung und Speicherung personenbezogener Daten sowie Art und Zweck und deren Verwendung</h5>
    <p>Wenn Sie bei uns einen Antrag auf Erteilung einer Kampfrichterlizenz stellen, erheben wir folgende Informationen:</p>
    
    <ul>
        <li>Anrede, Vorname, Nachname,</li>
        <li>eine gültige E-Mail-Adresse,</li>
        <li>Anschrift,</li>
        <li>Telefonnummer (Festnetz und/oder Mobilfunk)</li>
    </ul>
    <p>Die Erhebung dieser Daten erfolgt,</p>
    
    <ul>
        <li>um Ihre Berechtigung bei vom DBFV e.V. sanktionierten Meisterschaften als Kampfrichter zu werten, klären zu können;</li>
        <li>um Sie in Ergebnislisten bei vom DBFV e.V. veranstalteten Meisterschaften aufnehmen zu können, wobei die von Ihnen vorgenommenen Wertungen ausgewertet werden</li>
        <li>um Sie gegebenenfalls als Kampfrichter zu Teilnahmen bei internationalen Veranstaltungen anmelden zu können</li>
        <li>zur Korrespondenz mit Ihnen;</li>
    </ul>

    <p>Die Datenverarbeitung erfolgt auf der Grundlage der von Ihnen erteilten Einwilligung und nach Art. 6 Abs. 1 S. 1 lit. b DSGVO zu den genannten Zwecken für die angemessene Umsetzung der mit der Kampfrichterlizenz im Zusammenhang stehenden Aufgaben des DBFV e.V.. Die mit dem Starterlizenzantrag von uns erhobenen personenbezogenen Daten werden für das Jahr, in dem der Antrag gestellt wurde, gespeichert und danach gelöscht, es sei denn, dass Sie in eine darüber hinausgehende Speicherung, auch nach Art. 6 Abs. 1 S. 1 lit. a DSGVO, eingewilligt haben.</p>

    <h5>3. Weitergabe von Daten an Dritte</h5>
    <p>Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den im Folgenden aufgeführten Zwecken findet nicht statt. Soweit erforderlich werden Ihre Daten an Dritte weitergegeben, wenn dies im Zusammenhang eines Einsatzes bei einem internationalen Start an den Veranstalter erforderlich ist. Ihr Name wird gegebenenfalls auch im Rahmen der von Ihnen vorgenommenen Wertungen Dritten zur Verfügung gestellt. Die weitergegebenen Daten dürfen von dem Dritten ausschließlich zu den genannten Zwecken verwendet werden.</p>

    <h5>4. Betroffenenrechte</h5>

    <p>Sie haben das Recht:</p>
    
    <ul>
        <li>gemäß Art. 7 Abs. 3 DSGVO Ihre einmal erteilte Einwilligung jederzeit gegenüber uns zu widerrufen. Dies hat zur Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung beruhte, für die Zukunft nicht mehr fortführen dürfen;</li>
        <li>gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen. Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftigen Informationen zu deren Einzelheiten verlangen;</li>
        <li>gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen;</li>
        <li>gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist;</li>
        <li>gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben;</li>
        <li>gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen und</li>
        <li>gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Kanzleisitzes wenden.</li>
    </ul>

    <p>Möchten Sie von Ihrem Widerspruchsrecht Gebrauch machen, genügt eine E-Mail an: <a href="mailto:koenig@dbfv.de">koenig@dbfv.de</a></p>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}