{% extends "base.html" %}
{% load staticfiles %}
{% load dbfv_extras %}

{% block title %}Anträge Kampfrichterlizenzen{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<h3>Laufende Anträge</h3>
{% render_submission_list submission_list user 'open' 'judge' %}


<h3>Geschlossene Anträge</h3>
{% render_submission_list submission_list user 'closed' 'judge' %}

{% endblock %}

{% block sidebar %}
{% if perms.submission.change_submissionjudge %}
<h4>Info</h4>
<div class="well">
    <h5>Serienbriefexport</h5>
    {% if mailmerge_count > 0 %}
        <p>
            Anträge, die noch nicht für Serienbriefe für Microsoft Word exportiert wurden:
            <strong>{{mailmerge_count}}</strong>
        </p>
        <p>
            <a href="{% url 'submission-judge-export-mailmerge-new' %}" class="btn btn-block">Neue Anträge exportieren</a>

            <div class="alert alert-error">
            <strong>Achtung!</strong> Die Liste kann nur
            einmal generiert werden, Datei sorgfältig aufbewahren.
            </div>
        </p>

    {% else %}
        <p>
            Alle Anträge wurden bereits für den Serienbrief exportiert.
        </p>
    {% endif %}
</div>
{% endif %}
{% endblock %}
