{% extends "base.html" %}
{% load dbfv_extras %}

{% block title %}Kampfrichterantrag - {{object.get_name}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<p>
    {% if object.submission_status == '1' %}
        <span class="badge text-bg-light">Eingegangen</span>
    {% elif object.submission_status == '2' %}
        <span class="badge text-bg-success">Bewilligt</span>
    {% elif object.submission_status == '3' %}
        <span class="badge text-bg-danger">Abgelehnt</span>
    {% endif %}

    {% if perms.submission.change_submissionjudge %}
        {% if object.pdf_sent %}
            <span class="badge text-bg-success">PDF verschickt</span>
        {% else %}
            <span class="badge text-bg-light">Noch kein PDF verschickt</span>
        {% endif %}
    {% endif %}
</p>

<table class="table">
    <tr>
        <th>Landesverband</th>
        <td colspan="3">{{object.state}}</td>
    </tr>
    <tr>
        <th>Vorname</th>
        <td>{{object.first_name}}</td>
        <th>Nachname</th>
        <td>{{object.last_name}}</td>
    </tr>
    <tr>
        <th>Straße</th>
        <td>{{object.street}}</td>
        <th>Wohnort</th>
        <td>{{object.zip_code}}, {{object.city}}</td>
    </tr>
    <tr>
        <th>Tel. Nr.</th>
        <td>{{object.tel_number}}</td>
        <th>Email</th>
        <td colspan="3"><a href="mailto:{{object.email}}">{{object.email}}</a></td>
    </tr>
</table>
{% endblock %}

{% block sidebar %}
{% if perms.submission.change_submissionjudge %}
<div class="sidebar-box">
    <h4>Optionen</h4>
    <p><a href="{% url 'submission-judge-edit-status' object.id %}"
          title="Status bearbeiten">Status bearbeiten</a></p>
    <p><a href="{% url 'submission-judge-export-mailmerge' object.id %}"
          title="Status bearbeiten">Für Serienbrief exportieren</a></p>
    <p><a href="{% url 'submission-judge-delete' object.pk %}"
              title="Bearbeiten">Antrag löschen</a></p>
</div>
{% endif %}

{% if object.submission_status == object.SUBMISSION_STATUS_BEWILLIGT %}
<h4>PDF/QR-Code</h4>
<p><a href="{% url 'submission-judge-resend-pdf' object.id %}">Email nochmal verschicken</a></p>
<p><a href="{% url 'submission-judge-pdf' object.id %}" download="Kampfrichterlizenz-{{ object.id }}">PDF-Datei runterladen</a></p>
{% endif %}
{% endblock %}
