{% extends "base.html" %}
{% load url from future %}

{% block title %}Studios{% endblock %}

{% block content %}


{% if gym_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for gym in gym_list %}
    {% ifchanged gym.state.name %}
        <tr>
            <th colspan="3">{{gym.state.name}}</th>
        </tr>
    {% endifchanged %}
    <tr>
        <td>
            <a href="{% url 'gym-view' gym.id %}">{{gym.name}}</a>
        </td>
        <td>
            <a href= "mailto:{{gym.email}}">{{gym.email}}</a>
        </td>
        <td>
            <a href="{% url 'gym-edit' gym.id %}"
               class="icon-pencil"
               title="Bearbeiten"></a>
            <a href="{% url 'gym-delete' gym.id %}"
               class="icon-trash"
               title="Löschen"></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Studios vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h5>Aktionen</h5>
    <p><a href="{% url 'gym-add' %}">Studio hinzufügen</a></p>
</div>
{% endblock %}
