{% extends "base.html" %}
{% load url from future %}

{% block title %}Studios in {{state.name}}{% endblock %}

{% block content %}


{% if gym_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Name</th>
        <th>email</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for gym in gym_list %}
    <tr>
        <td>
            {{gym.pk}}
        </td>
        <td>
            <a href="{% url 'gym-view' gym.id %}">{{gym.name}}</a>
            {% if gym.is_active %}
                <span class="label label-success">Aktiv</span>
            {% endif %}
        </td>
        <td>
            {% if gym.email %}
                <a href= "mailto:{{gym.email}}">{{gym.email}}</a>
            {% else %}
                -/-
            {% endif %}
        </td>
        <td>
            <a href="{% url 'gym-view' gym.id %}" title="Anzeigen"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a href="{% url 'gym-edit' gym.id %}" title="Bearbeiten"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'gym-delete' gym.id %}" title="Löschen"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Studios vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h5>Aktionen</h5>
    <p><a href="{% url 'gym-list' %}">Zurück zur Landesliste</a></p>
    <p><a href="{% url 'gym-add' %}">Studio hinzufügen</a></p>
</div>
{% endblock %}
