{% extends "base.html" %}
{% load url from future %}
{% load dbfv_extras %}

{% block title %}Detailseite für Studio{% endblock %}

{% block content %}
<p>
    {% if perms.submission.change_gym %}
        {% if object.is_active %}
            <span class="label label-success">Aktiv</span>
        {% else %}
            <span class="label">Nicht aktiv</span>
        {% endif %}
    {% endif %}
</p>



<table class="table">
    <tr>
        <th>Name</th>
        <td>{{object.name}}</td>
    </tr>
    <tr>    
        <th>Email</th>
        <td>
            {% if object.email %}
                <a href="mailto:{{object.email}}">{{object.email}}</a>
            {% else %}
                -/-
            {% endif %}
        </td>    
    </tr>
    <tr>
        <th>Inhaber</th>
        <td>{{object.owner|default:"-/-"}}</td>
    </tr>
    <tr>
        <th>Bundesland</th>
        <td>{{object.state.name}}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>
            {% if not object.zip_code and not object.city and not object.street %}
                -/-
            {% else %}
                {{object.zip_code|default:""}}
                {{object.city|default:""}},
                {{object.street|default:""}}
            {% endif %}
        </td>
    </tr>
    
</table>

{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h5>Aktionen</h5>
    <p><a href="{% url 'gym-edit' object.id %}">Studio bearbeiten</a></p>
    <p><a href="{% url 'gym-list' %}">Zurück zur Übersicht</a></p>
</div>
{% endblock %}
