{% extends "base.html" %}

{% block title %}Manager-Emails{% endblock %}

{% block content %}

{% if email_list %}
<table class="table table-striped" data-toggle="list">
    <thead>
    <tr>
        <th>Email</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for email in email_list %}
    <tr>
        <td>
            <a href= "mailto:{{email.email}}">{{email.email}}</a>
        </td>
        <td>
            <a href="{% url 'email-edit' email.id %}" title="Bearbeiten"><i class="bi bi-pencil"></i></a>
            <a href="{% url 'email-delete' email.id %}" title="Löschen"><i class="bi bi-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Manager-Emails vor.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">

    <h4>Info</h4>
    <p>Emails in dieser Liste werden benachrichtigt, wenn neue Anträge
eingereicht werden.</p>

    <h4>Aktionen</h4>
    <p><a href="{% url 'email-add' %}">Email hinzufügen</a></p>
</div>
{% endblock %}
