{% extends "base.html" %}
{% load url from future %}
{% load dbfv_extras %}

{% block title %}Detailseite für Studio{% endblock %}

{% block content %}
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Bundesland</th>
    </tr>
    <tr>
        <td>{{object.name}}</td>
        <td>{{object.email}}</td>
        <td>{{object.state.name}}</td>
    </tr>
</table>

{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h4>Aktionen</h4>
    <p><a href="{% url 'gym-edit' object.id %}">Studio bearbeiten</a></p>
    <p><a href="{% url 'gym-list' %}">Zurück zur Übersicht</a></p>
</div>
{% endblock %}
