{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Antrag für Starterlizenz{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#form-championships').hide();

            $('.gym-select').click(function (e) {
                e.preventDefault();
                const gym_id = $(this).data('gym-id');
                const gym_state = $(this).data('gym-state');

                $('#ajax_id_gym').val(gym_id);
                $('#id_gym').val(gym_id);

                if (gym_state === 10) {
                    $('#form-championships').show();
                } else {
                    $('#form-championships').hide();
                }

                // Scroll to element
                $('html, body').animate({
                    scrollTop: $("#header-form2").offset().top
                }, 1000);
            });
        });
    </script>
    <style>
        .accordion-heading {
            background-color: #f2f2f2;
        }

        .accordion-heading a {
            color: black;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
        Hier beantragen Sie die Ausstellung einer Starterlizenz des DBFV e. V.,
        welche Sie zur Teilnahme an allen Meisterschaften unseres Verbandes berechtigt.
    </p>
    <p>
        Die Angaben habe ich nach bestem Wissen und Gewissen gemacht und bestätige diese
        mit dem Absenden des Formulars.
    </p>



    <h4>1. Studio aus Ihrem Landesverband auswählen</h4>
    <div class="accordion" id="accordion">
        {% for state in states_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ state.pk }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ state.pk }}" aria-expanded="true"
                            aria-controls="collapse{{ state.pk }}">
                        {{ state }}
                    </button>
                </h2>
                <div id="collapse{{ state.pk }}" class="accordion-collapse collapse "
                     aria-labelledby="heading{{ state.pk }}" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        {% for gym in state.gym_set.all %}
                            {% if gym.is_active %}
                                <a id="gym-{{ gym.id }}"
                                   class="gym-select"
                                   data-gym-id="{{ gym.id }}"
                                   data-gym-state="{{ gym.state.id }}"
                                   href="#">{{ gym.name }} ({{ gym.city }})</a><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h4 class="mt-3" id="header-form2">2. Stammdaten ausfüllen</h4>

    {% if form.gym.errors %}
        <div class="control-group error">
            <div class="controls">
            <span class="help-inline">
                Bitte wählen Sie ein Studio aus der Liste aus
            </span>
            </div>
        </div>
    {% endif %}
    <input type="hidden" name="gym" id="ajax_id_gym" value="{{ form.gym.value }}">

    {% crispy form %}

    <div class="col-md-offset-3 col-md-9">
        <h3>Wettkampfregeln</h3>
        <h4>Starterlizenz – Wettkampfregeln</h4>
        <p>
            Mit der Starterlizenz sind Sie zur Teilnahme an Wettkämpfen, die vom DBFV
            e.V. sanktioniert sind, berechtigt. Es gelten die Wettkampfregeln des
            DBFV e.V., die für Sie verbindlich sind und die Sie mit der Erteilung
            der Starterlizenz akzeptieren.
        </p>
        <p>
            Die Regeln für die entsprechenden Klassen finden Sie auf der Homepage 
            <a href="http://dbfv.de" target="_blank">dbfv.de</a>.
        </p>

        <h4>Anti-Doping</h4>

        <p>
            Doping untergräbt die Grundlagen der Integrität, die maßgeblich auf Fairness
            und Chancengleichheit im sportlichen Wettbewerb beruhen. Doping greift
            tief in die ethisch-moralischen Werte des Sports ein, raubt dem Sport
            seine Glaubwürdigkeit und Vorbildfunktion.
        </p>

        <p>
            Darüber hinaus gefährdet Doping die Gesundheit des Sportlers. Doping
            kann bei Arzneimittelmissbrauch mittel- oder langfristig schwerwiegende
            und irreparable Folgen für die Gesundheit haben.
        </p>

        <p>
            Der DBFV e.V. als Bodybuilding- und Fitness Verband distanziert sich
            durch Anerkennung des WADA Codes (Welt-Anti-Doping Agentur) klar von der
            Dopingszene. Verstöße werden verbandsrechtlich auf der Grundlage der
            geltenden Satzungsbestimmungen sanktioniert.
        </p>

        <p>
            Bitte beachten: Darüber hinaus drohen strafrechtliche Konsequenzen. Bereits
            der Erwerb, wie auch der Besitz nicht geringer Mengen von Dopingmitteln
            zum Zwecke des Dopings im Sport ist strafbar. Es drohen Freiheitsstrafen
            bis zu 3 Jahren. Auch Selbstdoping ist für Spitzensportler wie auch für
            Athleten, die aus der sportlichen Betätigung unmittelbar oder mittelbar
            Wettbewerbsvorteile erzielen, strafbar. Es drohen hier ebenfalls
            Freiheits- und Geldstrafen. <a href="https://www.gesetze-im-internet.de/antidopg/"
                                           target="_blank">https://www.gesetze-im-internet.de/antidopg/</a>
        </p>
    </div>


{% endblock %}

{% block sidebar %}
    <div class="sidebar-box">
        <h4>Lizenzgebühr</h4>
        <p>Die Lizenzgebühr in Höhe von €75,64 + ges. MwSt = €{{ fee }} ist im Voraus zu
            entrichten. Bitte immer Name und Antragsnummer angeben. Die Bearbeitung
            erfolgt erst nach Eingang der Gebühr!</p>
    </div>
{% endblock %}
