Eine neue Starterlizenz wurde beantragt
---------------------------------------

Details:
* Antragsnummer:         {{submission.pk}}
* Name:                  {{submission.last_name}}
* Vorname:               {{submission.first_name}}
* Geburtsdatum:          {{submission.date_of_birth}}
* Adresse:               {{submission.street}} {{submission.house_nr }}, {{submission.city}}, {{submission.zip_code}}
* Staatsangehörigkeit:   {{submission.nationality}}
* Email:                 {{submission.email}}
* Telefon:               {{submission.tel_number}}
* Größe (cm):            {{submission.height}}
* Wettkampfgewicht (kg): {{submission.weight}}
* Klasse:                {{submission.get_category_display}}
* Lizenz im Vorjahr:     {{submission.submission_last_year|yesno:"Ja,Nein"}}
* Studio:                {{submission.gym.name}} ({{submission.gym.state.name}})
                         {{submission.gym.email}}
{% if extra_data.championships %}* Meisterschaften:{% for championship in extra_data.championships %}
    - {{ championship }}{% endfor %}
{% endif %}

{% if is_user %}
Bitte überweisen Sie den Teilnahmebeitrag innerhalb von 5 Tagen
an das folgende Konto:

* Betrag:           {{fee}}EUR
* Verwendungszweck: Starterlizenz {{submission.pk}}
                    {{submission.get_name}}
* Begünstigter:     {{bankaccount.owner_name}}
* IBAN:             {{bankaccount.iban}}
* BIC:              {{bankaccount.bic}} ({{bankaccount.bank_name}})
                    Nur bei Auslandsüberweisung nötig!
{% endif %}
