
{% if submission_list %}
<table class="table table-striped" data-toggle="list" id="{{table_id}}">
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Datum</th>
        {% if user_type == USER_TYPE_BUNDESVERBAND %}
            <th>Benutzer</th>
        {% endif %}
        <th>Status</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in submission_list %}
    {% if submission_type == 'starter' %}
    {% ifchanged submission.gym.state %}
    <tr class="info">
        <th colspan="5">
            {{submission.gym.state}}
        </th>
    </tr>
    {% endifchanged %}
    {% endif  %}
    <tr>
        <td>
            {{submission.id}}
        </td>
        <td>
            {{ submission.creation_date}}
        </td>
        {% if user_type == USER_TYPE_BUNDESVERBAND %}
        <td>
            {{submission.user}}
        </td>
        {% endif %}
        <td>
            {% if submission.submission_status == SUBMISSION_STATUS_BEWILLIGT %}
                <i class="icon-ok" title="Bewilligt"></i>
            {% elif submission.submission_status == SUBMISSION_STATUS_ABGELEHNT %}
                <i class="icon-remove" title="Abgelehnt"></i>
            {% else %}
                <i class="icon-time" title="In Bearbeitung"></i>
            {% endif %}
            {{submission.get_submission_status_bv_display}}
        </td>
        <td>
            <a href="{% url url_submission_view submission.id %}"
               class="icon-eye-open"
               title="Anzeigen"></a>
        {% if user_type == USER_TYPE_BUNDESVERBAND %}
            <a href="{% url url_submission_edit submission.id %}"
               class="icon-pencil"
               title="Status bearbeiten"></a>
            <a href="{% url url_submission_delete submission.id %}"
               class="icon-trash"
               title="Löschen"></a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Es liegen momentan keine Anträge vor.</p>
{% endif %}

