{% extends "tags/table_form_field.html" %}

{% block field %}
<label class="control-label file {% if field.field.required %}required{% endif %}" for="{{field.auto_id}}">
    {{field.label}}
</label>
<div class="controls">
    {% if not field.value %}
    {{field}}
    {% else %}
    <a href="/{{ field.value.url }}"
        target="_blank">{{field.value.basename}}</a>
    {% endif %}
    <span class="help-inline">
        {{field.help_text}}

        {% if field.errors %}
            {{field.errors}}
        {% endif %}
    </span>
</div>

{% if not field.value %}
<div class="controls">
    <button class="btn btn-primary" type="submit">Hinzufügen</button>
</div>
{% endif %}

{% endblock %}

