{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<p>Ich beantrage hiermit die Aufnahme als ordenliches Mitglied in den
zuständigen Landesverband.</p>

<p><small>Der Antrag auf Erwerb einer Studiolizenz kann nur genehmigt werden, wenn
die Auflagen gemäß §1 der Verfahrens- Geschäftordnung des DBFV e.V. erfüllt
werden. Über die Aufnahme entscheidet der Vorstand des zuständigen Landesverbandes.
Eine evtl. Ablehnung bedarf keiner Begründung.</small></p>

{% crispy form %}


{% endblock %}

{% block sidebar %}
{% endblock %}