{% extends "base.html" %}
{% load static %}
{% load dbfv_extras %}

{% block title %}Anträge Studiolizenzen{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<h3>Laufende Anträge</h3>
{% render_submission_list submission_list user 'open' 'gym' %}


<h3>Geschlossene Anträge</h3>
{% render_submission_list submission_list user 'closed' 'gym' %}

{% endblock %}

{% block sidebar %}
<h3>Info</h3>
<p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum.</p>

{% endblock %}
