{% extends "base.html" %}
{% load dbfv_extras %}

{% block title %}Studioantrag - {{object.name}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <th>Landesverband</th>
        <td colspan="3">{{object.state}}</td>
    </tr>
    <tr>
        <th>Inhaber</th>
        <td colspan="3">{{object.user.get_username}}</td>
    </tr>
    <tr>
        <th>Straße</th>
        <td>{{object.street}}</td>
        <th>Wohnort</th>
        <td>{{object.zip_code}}, {{object.city}}</td>
    </tr>
    <tr>
        <th>Tel. Nr.</th>
        <td>{{object.tel_number}}</td>
        <th>Fax. Nr</th>
        <td>{{object.fax_number}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td colspan="3"><a href="mailto:{{object.email}}">{{object.email}}</a></td>
    </tr>
    <tr>
        <th>Anzahl Mitglieder</th>
        <td colspan="3">{{object.members}}</td>
    </tr>
</table>
{% endblock %}

{% block sidebar %}
<div class="sidebar-box">
    <h3>Optionen</h3>
    <p><a href="{% url 'submission-studio-edit-status' object.id %}"
          title="Status bearbeiten">Status bearbeiten</a></p>
</div>
{% endblock %}
