{% extends "base.html" %}
{% load dbfv_extras %}

{% block title %}Studioantrag {{object.pk}} - {{object.name}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<p>
    {% if object.submission_status == '1' %}
        <span class="label">Eingegangen</span>
    {% elif object.submission_status == '2' %}
        <span class="label label-success">Bewilligt</span>
    {% elif object.submission_status == '3' %}
        <span class="label label-important">Abgelehnt</span>
    {% endif %}
</p>

<table class="table">
    <tr>
        <th>Studioname</th>
        <td>
            {% if perms.submission.change_submissiongym and object.gym %}
                <a href="{% url 'gym-view' object.gym.pk %}">{{object.gym.name}}</a>
            {% else %}
                {{object.name}}
            {% endif %}
        </td>
        <th>Email</th>
        <td><a href="mailto:{{object.email}}">{{object.email}}</a></td>
    </tr>
    <tr>
        <th>Inhaber</th>
        <td>{{object.user.get_username}}</td>
        <th>Landesverband</th>
        <td>{{object.state}}</td>
    </tr>
    <tr>
        <th>Straße</th>
        <td>{{object.street}}</td>
        <th>Wohnort</th>
        <td>{{object.zip_code}}, {{object.city}}</td>
    </tr>
    <tr>
        <th>Tel. Nr.</th>
        <td>{{object.tel_number}}</td>
        <th>Fax. Nr</th>
        <td>{{object.fax_number}}</td>
    </tr>
    <tr>
        <th>Anzahl Mitglieder</th>
        <td colspan="3">{{object.members}}</td>
    </tr>
</table>
{% endblock %}

{% block sidebar %}
{% if perms.submission.change_submissiongym %}
<div class="sidebar-box">
    <h3>Optionen</h3>
    <p><a href="{% url 'submission-studio-edit-status' object.id %}"
          title="Status bearbeiten">Status bearbeiten</a></p>
</div>
{% endif %}
{% endblock %}
