{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load dbfv_extras %}
{% load url from future %}

{% block title %} {% trans "Anmelden" %}{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<form action="{% url 'login' %}"
      method="post"
      class="form-horizontal">
    <input type="hidden" name="next" value="{{next}}">
    {% render_form_fields form 'Anmelden' %}
</form>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="well">
<h3>Kein Account?</h3>

<a href="{% url 'registration' %}">Registrieren</a>
</div>
{% endblock %}
